body{
    font-family: calibri;
}
.formContainer{
    margin-top:20vh;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}
.im{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.form1{
	padding:20px 30px 40px;
}
.btn1{
	width:50%;
    height:50px;
    background-color:slateblue; 
    color:white;
    border-style:none;
    font-size:18px;
    border-radius: 50px;
    transition: 0.5s;
}
.btn1:hover{background-color:gray;}
.bg1{
	position:fixed;
	top:0;
	left:0;
    height:100%;
    width:100%;
}